* {
    box-sizing: border-box;
}

body {
    margin: 0 auto;
}

:root {
    --cell-size: 100px;
    --mark-size: calc(var(--cell-size) * .9);
}

/*Main structure rules*/

.board {
    width: 100vw;
    height: 100vh;
    background-color: pink;
    display: grid;
    justify-content: center;
    justify-items: center;
    align-content: center;
    align-items: center;
    grid-template-columns: repeat(3, auto);
}

h1 {
    width: 100%;
    height: 50px;
    text-align: center;
    justify-content: center;
    font-size: 300%;
}

.cell {
    width: 120px;
    height: 120px;
    border: 2px solid red;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

/*Rules that remove borders from the game grid*/

.cell:first-child,
.cell:nth-child(2),
.cell:nth-child(3) {
    border-top: none;
}

.cell:nth-child(1),
.cell:nth-child(4),
.cell:nth-child(7) {
    border-left: none;
}

.cell:nth-child(3),
.cell:nth-child(6),
.cell:nth-child(9) {
    border-right: none;
}

.cell:nth-child(7),
.cell:nth-child(8),
.cell:nth-child(9) {
    border-bottom: none;
}

/*Creating the x and o*/
.cell.x::before,
.cell.x::after {
    content: '';
    width: calc(var(--mark-size) * .15);
    height: var(--mark-size);
    background-color: black;
    position: absolute;
}

.cell.x::before {
    transform: rotate(45deg);
}

.cell.x::after {
    transform: rotate(-45deg);
}



/*score-box styles*/



